
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Value Page</title>
</head>
<body>
<form method="get" action="/studentDeleteValues">

    <label >Student First name:</label>
    <input type="text" id="student_first_name" name="student_first_name" placeholder= "firstName"required/>
    <label>Student Middle name:</label>
    <input type="text" id="student_mid_name" name="student_mid_name" placeholder= "middelName" required/>
    <input type="submit" name="Submit" />

</form>
</body>
</html>